.Contatos{
    padding: 2rem;
    min-height: 80vh;
}

.p {
    width: 60%;
    margin: 0 auto;
}
/* Cabeçalho */
.header{
    text-align: center;
    margin-bottom: 2rem;
}
.header h2{
    font-size: 2 rem;
    margin-bottom: 1rem;
}

.form_container{
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #fff;
    padding: 1.2rem;
    box-shadow: rgba(97, 202, 105, 0.2) 0px 10px 30px 0px;
}

.form_container form{
    max-width: 400px;
    margin: 0 auto;
}

.inputs_container{
    min-height: 280px;
    
}
.form_control{
    display: flex;
    flex-direction: column;
    gap: .6rem;
    margin-bottom: 2rem;
    border: none;
}


/* actions */

.actions{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;

}
.actions{
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: .3s;
}

.actions button:hover{
    background-color: rgb(31, 95, 31);
}

.actions button {
    display: inline-block;
    background-color:  rgb(146, 233, 146);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all .1s ease-in-out;
  }
 